<!DOCTYPE html>
<html>
<br>
<h2>将swagger接口文档转换为word和markdown</h2>

word：
<ul>
    <li>直接输入对应的swagger数据源的地址即可，例如：http://localhost:8080/v2/api-docs?group=gtag</li>
    <form action="/urlCommit" >
        <input name="url" style="width: 400px" value="http://localhost:8080/v2/api-docs?group=gtag">
        <button>生成</button>
    </form>
</ul>

<hr>

markdown：
<ul>
    <li>直接输入对应的swagger数据源的地址即可，例如：http://localhost:8080/v2/api-docs?group=gtag</li>
    <form action="/toMarkdown">
        <input name="url" style="width: 400px"  value="http://localhost:8080/v2/api-docs?group=gtag">
        <button>生成</button>
    </form>
</ul>



</body>
</html>
