<!DOCTYPE html>
<html>
<br>
<h2>将swagger接口文档转换为word和markdown</h2>

word：
<ul>
    <li>请求示例：<a href="http://127.0.0.1:8080/toWord?url=https://petstore.swagger.io/v2/swagger.json">http://127.0.0.1:8080/toWord?url=https://petstore.swagger.io/v2/swagger.json</a></li>
    <li>模板: http://host:port/toWord?url=swagger的地址</li>
</ul>


markdown：
<ul>
    <li>请求示例：<a href="http://127.0.0.1:8080/toMarkdown?url=https://petstore.swagger.io/v2/swagger.json">http://127.0.0.1:8080/toMarkdown?url=https://petstore.swagger.io/v2/swagger.json</a></li>
    <li>模板: http://host:port/toMarkdown?url=swagger的地址</li>
</ul>


</body>
</html>
